<h1>Login success</h1>
<%= gravatar_for @user %>
<p><%= link_to "Sign out", signout_path, :method=>:delete  %></p>
<p>


<h1>Login success</h1>
<%= gravatar_for @user %>
<p><%= link_to "Sign out", signout_path, :method=>:delete  %></p>

